/build
.cache/
.idea
.vscode/
cmake-build-debug
duckdb_unittest_tempdir/
.DS_Store
testext
test/python/__pycache__/
__pycache__/
*.pyc
*.swp
*.swo
*~
.Rhistory
/*.sql
Thumbs.db
rewriter_benchmark_results.csv
